/* Update the "Details" button styles */
.project-button-details {
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.project-button-details:hover {
    background-color: #ccc;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-spacing: 0;
}

th, td {
    text-align: left;
    padding: 5px;
}

.project-button {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    text-align: left;
}

#daygrid-views-btn {
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}