body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    background-color: #333;
    padding: 20px 0;
}

thead {
    border-bottom: 3px solid #242323;
}

.logo {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color:  #666;
}

#main-content {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-spacing: 0;
}

th, td {
    text-align: left;
    padding: 5px;
}


.project-ctg-number {
    width: 5%;
}

.project-ctg-name {
    width: 35%;
}

.project-ctg-date{
    width: 15%;
}

.project-ctg-client {
    width: 10%;
}

.project-ctg-teamsize{
    width: 10%;
}

.project-button {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.project-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.project-item h3 {
    margin-top: 0;
}